{% extends "base.html" %}

{% block title %}7조의 장고 홈페이지입니다.{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
<div id="content">

    <h1>게시글 업데이트/생성하기(사용자: {{user}})</h1>

    <form action="." method="post">{% csrf_token %}

    {% if form.errors %}
    <p class="errornote">틀렸습니다! 정확한 정보를 입력해주세요.</p>
    {% endif %}

    <p>게시글 작성 또는 업데이트를 하기 위한 양식</p>

    <fieldset class="aligned">

        <div class="form-row">
            {{ form.title.label_tag }} {{ form.title }}
        </div>
    
        <div class="form-row">
            {{ form.slug.label_tag }} {{ form.slug }}
        </div>

        <div class="form-row">
            {{ form.description.label_tag }} {{ form.description }}
        </div>

        <div class="form-row">
            {{ form.content.label_tag }} {{ form.content }}
        </div>

        <div class="form-row">
            {{ form.tag.label_tag }} {{ form.tag }}
        </div>

    </fieldset>

    <div class="submit-row">
        <input type="submit" value="확인"/>
    </div>

    <script type="text/javascript">document.getElementById('id_title').focus();</script>
    </form>

</div>
{% endblock %}
